#languagemenu {
  float: left;
  font-size: 0.8em;
  margin-left: 3em;
  margin-top: 0.68em;
  position: relative;
  z-index: 999;
}
#languagemenu::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 4px 0 4px;

  z-index: 99;
  top: 50%;
  right: -1.1em;
  margin-top: -3px;
  -webkit-transform:rotate(360deg);
}
#languagemenu ul {
  list-style: none;
  height: 0;
  opacity: 0;
  transition: all 0.4s;
  position: absolute;
  margin: 0;
  padding-top: 1.5em;
  top: 0;
  left: -1.15em;
  z-index: 1001;
}
#languagemenu:hover ul, #languagemenu:focus-within ul {
  height: auto;
  opacity: 1;
}
#languagemenu li a {
  display: block;
  line-height: 1em;
  padding: 0.6em 1em 0.6em 1em;
}
#languagemenu li.text-muted {
    display: none;
}

#languagemenu svg {
  width: 1.12em;
  height: 1.12em;
  display: block;
}
