#languagemenu {
    float: left;
    font-size: 0.85em;
    margin-left: 3em;
    margin-top: 0.68em;
    position: relative;
}

#languagemenu::after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 4px 0 4px;
    z-index: 99;
    top: 50%;
    right: -1.1em;
    margin-top: -3px;
    -webkit-transform: rotate(360deg);
}

#languagemenu ul {
    list-style: none;
    height: 0;
    opacity: 0;
    transition: all 0.4s;
    position: absolute;
    margin: 0;
    padding-top: 1.5em;
    top: 0;
    left: -1.15em;
    z-index: 50;
}

#languagemenu:hover ul, #languagemenu:focus-within ul {
    height: auto;
    opacity: 1;
}

#languagemenu li:first-child {
    padding-top: 1em;
}

#languagemenu li a {
    display: block;
    line-height: 1em;
    padding: 0.6em 1em 0.6em 1em;
}

#languagemenu svg {
    width: 1.12em;
    height: 1.12em;
    display: block;
}

@media screen and (max-width: 1100px) {
    #languagemenu {
        display: none
    }
    #languagemenu.mobile svg {
        width: 1.3em;
        height: 1.3em;
    }

    #languagemenu.mobile {
        display: block;
        position: relative;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        position: relative;
    }
    #languagemenu.mobile .language-icon {
        display: block;
        top: -0.68em;
        left: 50%;
        margin-left: -1.7em;
        position: absolute;
        width: auto;
        padding-left: 1em;
        padding-right: 1em;
        z-index: 60;
    }
    #languagemenu.mobile ul {
        border-top: 1px solid #ddd;
        display: block;
        position: relative;
        height: auto;
        opacity: 1;
        padding-bottom: 1.5em;
        width: auto;
        left: 0;
    }

    #languagemenu.mobile li {
        display: inline-block;
    }

    #languagemenu::after {
        display: none
    }
}
