.hmbrgr {
    display: none;
    position: relative;
    float: right;
    box-sizing: border-box;
    margin-right: -.6em;
    transition: all .4s;
}

.hmbrgr b {
    position: relative;
    display: block;
    margin: .94em;
    margin-top: .66em;
    width: 2em;
    height: 1.5em;
}

.hmbrgr i {
    display: block;
    position: absolute;
    background: #000;
    width: 100%;
    height: 2px;
}

.hmbrgr i.f {
    top: 0;
}

.hmbrgr i.m {
    top: 50%;
    margin-top: -1px;
}

.hmbrgr i.l {
    bottom: 0;
}

.hmbrgr.open i.m {
    opacity: 0;
}

.hmbrgr.open i.f, .hmbrgr.open i.l {
    top: 50%;
    margin-top: -1px;
}

.hmbrgr.open i.f {
    transform: rotate(135deg);
}

.hmbrgr.open i.l {
    transform: rotate(-135deg);
}

.hmbrgr b, .hmbrgr i {
    transition: all .3s ease-in-out;
}

#sectionmenu {
    -webkit-font-smoothing: antialiased;
    width: auto;
    float: right;
    margin: 0;
    box-sizing: border-box;
}

#sectionmenu nav ul {
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    width: auto;
}

#sectionmenu nav li {
    display: inline-block;
    list-style: none;
    margin-left: 3em;
}

#sectionmenu nav a {
    display: inline-block;
    padding: .9em 0;
    line-height: 1em;
    transition: color .4s;
}

#sectionmenu nav a:hover, #sectionmenu nav .active a {
    text-decoration: none;
}

#header.scrolled #sectionmenu nav {
    font-weight: 400;
    letter-spacing: .1px;
}

#mobilemenu-content {
    display: none;
}

/* mobile menu breakpoint for jQuery is defined in menu TS file, if you change it here you have to change it in TS as well */
@media screen and (max-width: 1100px) {
    .hmbrgr, #mobilemenu-content {
        display: block;
    }

    #header.scrolled .hmbrgr b {
        margin: .94em;
        height: 1.12em;
        width: 1.7em;
    }

    #header.scrolled .hmbrgr {
        margin-right: -1em;
        margin-top: -.26em;
    }

    #sectionmenu {
        display: none;
        text-align: center;
        width: 100%;
        padding-top: 1.5em;
        padding-bottom: 2em;
    }

    #header.scrolled #sectionmenu {
        padding-top: 0.5;
    }

    #header.scrolled #sectionmenu nav {
        font-weight: 500;
    }

    #sectionmenu nav ul {
        width: 100%;
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    #sectionmenu nav ul.two-columns {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    #sectionmenu nav ul li {
        display: block;
        padding: 0;
        margin: 0;
    }

    #sectionmenu nav ul.two-columns li {
        -moz-column-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        column-break-inside: avoid;
    }

    #sectionmenu nav ul li a {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 1.2em;
    }
    #mobilemenu-content {
        font-weight: normal;
    }
    #mobilemenu-content a {
        font-weight: normal;
        font-size: 0.9em;
    }
}

@media screen and (max-width: 960px) {
    .hmbrgr {
        margin-right: -1em;
    }
}
