.pagelist.list .item a {
  display: inline-block;
  border-top: 1px solid #ddd;
  padding-right: 3em;
  padding-top: 1em;
}

.align-center .pagelist.list .article a, .align-center .pagelist.list .event a {
  padding-left: 3em;
}

.pagelist.list .article:first-child a, .pagelist.list .event:first-child a {
  border-top: none;
  padding-top: 0;
}

.pagelist .article .author img {
  display: none
}

.pagelist.list .event .text {
  margin-left: 5em;
  padding-left: 1em;
}

.pagelist.list .event .text {
  margin-left: 0;
  padding-left: 0;
}
