<ea:asset.css embed="1" priority="1" identifier="sectionMenu" href="EXT:microtemplate/Resources/Public/Css/Menus/section-menu.css" />

<nav>
    <ul id="section-menu">
        <f:for each="{sectionMenu}" as="section">
            <f:if condition="{section.data.header}">
                <li id="m{section.data.uid}">
                    <a tabindex="-1" href="/{f:if(condition: section.data.uid, then: '#c{section.data.uid}')}" title="{section.data.header}">
                        {section.data.header}
                    </a>
                </li>
            </f:if>
        </f:for>
    </ul>
</nav>

<ea:asset.script embed="1" identifier="sectionMenu" src="EXT:microtemplate/Resources/Public/JavaScript/Menus/section-menu.js" />
