/*
div[data-tx_gridelements_backend_layout^="ge-cards"] + .exampleContent .t3-page-columns {border-spacing: none !important;}
div[data-tx_gridelements_backend_layout^="ge-cards"] + .exampleContent .t3-grid-cell {background: none; padding: 0; border: none}

div[data-tx_gridelements_backend_layout^="ge-cards"] + .exampleContent .t3-grid-container .t3js-page-ce-sortable {width: 33.3%; float: left}
div[data-tx_gridelements_backend_layout="ge-cards"] + .exampleContent .t3-grid-container .t3js-page-ce-sortable:nth-child(5) {clear: both}
*/
.t3-page-ce-footer {
	display:none;
}

div[data-ctype="gridelements_pi1"] + .exampleContent > .t3-page-ce {
	padding-left:0;
	margin:0;
	padding-bottom:0;
}

div[data-ctype="gridelements_pi1"] + .exampleContent .t3js-page-ce-sortable {
	padding-bottom:0;
	margin-bottom:0;
}

div[data-ctype="gridelements_pi1"] + .exampleContent .t3-page-ce-dragitem + .t3-page-ce {
	padding-bottom:0;
	margin-bottom:0;
}

div[data-ctype="gridelements_pi1"] + .exampleContent .t3-grid-cell {
	border-bottom:none;
	background:none!important;
}

.t3-page-ce-wrapper .t3-page-ce-wrapper,.t3js-page-ce {
	margin-bottom:0!important;
	padding-bottom:0!important;
}

.t3-page-ce-wrapper {
	padding-bottom:10px;
}

.t3-page-columns {
	border-spacing:0!important;
}

.module-body form > .t3-grid-container {
	margin-bottom:10px;
}

.t3-page-ce {
	padding:8px;
	margin:0;
	box-sizing:border-box;
}

.t3-page-ce-dragitem + .t3-page-ce {
	padding:0;
}

.t3-ctype-identifier > strong > a,.exampleContent > a {
	display:inline-block;
	width:100%;
}

.t3-grid-cell {
	background:none;
}

#new-element-drag-in-wizard {
	width:54px;
	position:fixed!important;
	right:0!important;
	top:64px!important;
	background:#292929!important;
}

#new-element-drag-in-wizard * {
	background:transparent;
	border:none;
	color:#d2d2d2;
}

#new-element-drag-in-wizard .panel-body {
	background:#292929!important;
	border:none;
	color:#fff;
}

#new-element-drag-in-wizard .t3js-tabs::before {
	position:absolute;
	right:0;
	top:0;
	content:'▶';
	background:#292929;
	z-index:9;
	font-size:1em;
	font-weight:700;
	padding:1em;
}

#new-element-drag-in-wizard .t3js-tabs:hover::before {
	display:none;
}

#new-element-drag-in-wizard .t3js-tabs {
	position:absolute;
	right:50px;
}

#new-element-drag-in-wizard .t3js-tabs li {
	display:none;
	background:#292929!important;
	width:155px;
}

#new-element-drag-in-wizard .t3js-tabs li.active a {
	color:#fff!important;
}

#new-element-drag-in-wizard .t3js-tabs li:hover a {
	color:#fff;
}

#new-element-drag-in-wizard .t3js-tabs:hover li {
	display:inline-block;
}

.t3js-module-body {
	padding-right:70px;
}

#new-element-drag-in-wizard .media-body {
	display:none!important;
}

#new-element-drag-in-wizard .panel-tab {
	padding-bottom:0;
	margin-bottom:0;
}

.t3-page-column-header {
	display:none;
}

.x-tree-selected {
	margin-right:0!important;
	border-color:#fff!important;
}