.personnel {
  width: 100%;
  float: left
}

.personnel * {
  box-sizing: border-box;
}

/* Setting icon color and few styles for Card and List view */
.personnel .icon {
  max-height: 0.8em;
  max-width: 0.94em;
  width: auto;
  height: auto;
  margin-right: 0.8em;
}

.personnel img.dummy {
  background: #eee;
}

.personnel .icon path {
  fill: #222
}

.personnel .contact a {
  display: block;
}

/* Card view */
.personnel>.card {
  width: 22%;
  float: left;
}

.personnel>.card img.person {
  width: 100%;
  height: auto;
  margin-bottom: 1em
}

.personnel>.card .name {
    font-size:  1.25em;
  margin: 0 0 0.2em;
  padding: 0;
}

.personnel>.card-space {
  width: 4%;
  float: left;
  height: 2em;
}

.personnel>.card-space:nth-child(8n) {
  width: 100%
}

/* less columns in smaller containers */
.personnel.cards.break-three>.card {
  width: 30%
}

.personnel.cards.break-three>.card-space {
  width: 5%
}

.personnel.cards.break-three>.card-space:nth-child(3n) {
  width: 100%
}

.personnel.cards.break-two>.card {
  width: 47.5%
}

.personnel.cards.break-two>.card-space {
  width: 5%
}

.personnel.cards.break-two>.card-space:nth-child(4n) {
  width: 100%
}

.personnel.cards.break-one>.card {
  width: 100%
}

.personnel.cards.break-one>.card-space {
  width: 100%
}

/* list view */
.personnel>.listitem {
  float: left;
  width: 100%;
}

/* List view */
.personnel .listitem {
  margin-bottom: 3em;
}

.personnel .listitem.last {
  margin-bottom: 0;
}

.personnel .listitem img {
  width: 20%;
  height: auto;
  float: left;
}

.personnel .listitem .text {
  margin-left: 24%;
}

.personnel.noimages .listitem .text {
    margin-left: 0;
}

.personnel .listitem .name {
  margin: -0.2em 0 0.2em;
}

.personnel.table .image {
  width: 50px
}


/* Microtemplate */

.personnel.cards.break-two>.card {
    max-width: 320px;
}

.align-center .personnel.cards.break-two>.card {
    margin: auto;
    float: none;
}

.personnel.cards.break-two>.card-space {
    width: 100%
}

.personnel img.person {
    border-radius: 50%;
}

.personnel.cards .profession {
    margin-bottom: 0.5em;
}

.personnel a, .personnel a:visited {
    font-weight: normal !important;
}

.personnel.list .text {
    margin-top: 0.5em;
}

@media screen and (max-width: 960px) {
    .personnel .contact a {
      margin-top:  0.5em;
    }
}
