<div class="item event{f:if(condition: '{data.tx_pagelist_disableimages} == 1', then: ' noimage')}{f:if(condition: '{data.tx_pagelist_disableabstract} == 1', then: ' nointroduction')}">
  <f:link.page pageUid="{page.data.uid}" target="{page.data.target}" title="{page.data.title}">
    <div class="text">
      <h3 class="title">{page.data.title}</h3>
      <f:if condition="{page.data.tx_pagelist_eventlocation}">
        <p class="startdate info location">
          <f:if condition="{page.data.tx_pagelist_datetime}"><f:format.date format="j. M Y">{page.data.tx_pagelist_datetime}</f:format.date></f:if> ☉ {page.data.tx_pagelist_eventlocation}
        </p>
      </f:if>
      <f:if condition="{data.tx_pagelist_disableabstract} == 0">
        <f:if condition="{page.data.abstract}">
          <p class="abstract">{page.data.abstract}</p>
        </f:if>
      </f:if>
    </div>
  </f:link.page>
</div>
