<div class="pagelist-card frame">
  <a href="{page.link}" <f:if condition="{page.target}">target="{page.target}"</f:if> title="{page.data.title}">
    <figure>
      <f:if condition="{page.files.0}">
        <f:then>
          <img src="<f:uri.image image="{page.files.0}" treatIdAsReference="1" width="654c" height="354c" />" />
        </f:then>
        <f:else>
          <f:image class="pagelist-img-dummy" src="EXT:pagelist/Resources/Public/Images/clear.png" width="654c" height="354c" />
        </f:else>
      </f:if>
    </figure>
    <f:if condition="{page.data.lastUpdated}"><p class="date"><f:format.date format="j. F Y">{page.data.lastUpdated}</f:format.date></p></f:if>
    <h2 class="title">{page.data.title}</h2>
  </a>
</div>
<div class="pagelist-card-space"></div>
