<ea:asset.css  priority="1" identifier="microtemplateConstants">
:root {
    --pageWidth: {settings.pageWidth};
    --contentWidth: {settings.contentWidth};
    --subpageWidth: {settings.subpageWidth};
    --mainFontFamily: {settings.mainFontFamily};
    --bodyBg: {settings.bodyBg};
    --menuBgColor: {settings.menuBg};
    --textColor: {settings.textColor};
    --textColorLight: {settings.textLight};
    --textColorDark: {settings.textDark};
    --accentColor: {settings.accentColor};
    --bgLight: {settings.bgLight};
    --bgDark: {settings.bgDark};
}
</ea:asset.css>
<f:if condition="{settings.darkModeEnabled}">
<ea:asset.css priority="1" identifier="microtemplateCssConstantsDark">
@media (prefers-color-scheme: dark) {
    :root {
        --bodyBg:{settings.dmBodyBg};
        --menuBgColor: {settings.dmMenuBg};
        --textColor: {settings.dmTextColor};
        --textColorLight: {settings.dmTextLight};
        --textColorDark: {settings.dmTextDark};
        --accentColor: {settings.dmAccentColor};
        --bgLight: {settings.dmBgLight};
        --bgDark: {settings.dmBgDark};
    }
}
</ea:asset.css>
</f:if>
