<f:if condition="{header}">
  <f:then><f:format.raw>{contentHeader}</f:format.raw></f:then>
  <f:else><h1>{data.title}</h1></f:else>
</f:if>
<p>{data.abstract}</p>
<f:if condition="{data.tx_pagelist_datetime}">
  <h3 class="date">
    <f:format.date format="j. M Y">{data.tx_pagelist_datetime}</f:format.date>
    <f:if condition="{data.tx_pagelist_starttime}">/ <f:format.date format="H:i">{data.tx_pagelist_datetime}</f:format.date></f:if>
    <f:if condition="{data.tx_pagelist_eventfinish}">
      –
      <f:format.date format="j. M Y">
        {data.tx_pagelist_eventfinish}
      </f:format.date>
    </f:if>
    <f:comment>
        <a style="font-weight: normal; display: block; float: right" title="Add to Google Calendar" href="//www.google.com/calendar/event?action=TEMPLATE&dates={data.tx_pagelist_datetime -> f:format.date(format: 'Ymd')}T{data.tx_pagelist_datetime -> f:format.date(format: 'His')}Z%2F{data.tx_pagelist_eventfinish -> f:format.date(format: 'Ymd')}T{data.tx_pagelist_eventfinish -> f:format.date(format:    'His')}Z&text={data.title}&location={data.tx_pagelist_eventlocation}&details={data.abstract}">[gCal]</a>
    </f:comment>
    <f:link.page style="font-weight: normal; display: block; float: right" pageUid="{data.uid}" pageType="889966123">[ > ]</f:link.page>
    <f:link.page style="font-weight: normal; display: block; float: right" pageUid="{data.uid}" pageType="889966123" additionalAttributes="{download: '{data.title}.ics'}">[ + ]</f:link.page>

  </h3>
</f:if>
<f:if condition="{data.tx_pagelist_eventlocation}">
  <p>
    <strong>
      <f:link.typolink parameter="{data.tx_pagelist_eventlocationlink}" target="_blank">
      {data.tx_pagelist_eventlocation}
      </f:link.typolink>
    </strong>
  </p>
</f:if>
