<div class="item event{f:if(condition: '{data.tx_pagelist_disableimages} == 1', then: ' noimage')}{f:if(condition: '{data.tx_pagelist_disableabstract} == 1', then: ' nointroduction')}">
  <f:link.page pageUid="{page.data.uid}" target="{page.data.target}" title="{page.data.title}">
    <div class="text">
      <h2 class="title">{page.data.title}</h2>
      <f:if condition="{page.data.tx_pagelist_eventlocation}">
        <p class="startdate info location">
            <f:if condition="{f:format.date(format: 'Y', date: '{page.data.tx_pagelist_eventstart}')} == {f:format.date(format: 'Y', date: '{page.data.tx_pagelist_eventfinish}')}">
                <f:then>
                    <f:format.date format="j. M">
                        {page.data.tx_pagelist_eventstart}
                    </f:format.date>
                </f:then>
                <f:else>
                    <f:format.date format="j. M Y">
                        {page.data.tx_pagelist_eventstart}
                    </f:format.date>
                </f:else>
            </f:if>
            <f:if condition="{page.data.tx_pagelist_eventstart} && {page.data.tx_pagelist_eventfinish}">– <f:format.date format="j. M Y">{page.data.tx_pagelist_eventfinish}</f:format.date></f:if> ☉ {page.data.tx_pagelist_eventlocation}
        </p>
      </f:if>
      <f:if condition="{data.tx_pagelist_disableabstract} == 0">
        <f:if condition="{page.data.abstract}">
          <p class="abstract">{page.data.abstract}</p>
        </f:if>
      </f:if>
    </div>
  </f:link.page>
</div>
