.ge-accordion-section-title {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
  font-size: 1.26em;
  padding: .72em 0;
  position: relative;
  outline: 0;
  box-sizing: border-box;
  display: block;
  font-weight: 500;
  padding-right: 3em;
}
.ge-accordion-section-title::after, .ge-accordion-section-title::before {
    top: 1.37em;
    position: absolute;
    content: '';
}
.ge-accordion-section-title::before {
    height: 0.8em;
    width: 2px;
    right: 0.4em;
    margin-right: -1px;
    margin-top:-0.4em;
 }
.ge-accordion-section-title::after {
    width: 0.8em;
    height: 2px;
    right: 0;
    margin-top: -1px;
}
.ge-accordion-section-title.active::before {
    transition: all 0.3s ease;
    height: 0;
    margin-top: 0;
}
.ge-accordion-section-content {
  display: none;
}

.ge-accordion-section {
  border-bottom: 1px solid #ddd;
}

.ge-accordion-section-content div:first-child header {
  display: none;
}

.ge-accordion-section:last-child {
  border-bottom: none;
}

.ge-accordion-section-title.active, .ge-accordion-section-title:hover {
  text-decoration: none;
}

.ge-accordion-section-title.active {
  border-bottom: none;
}
