<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
{namespace i=Quellenform\Iconpack\ViewHelpers}
{namespace ea=Brightside\Embedassets\ViewHelpers}

<f:layout name="Default" />
<f:section name="Main">
    <ea:asset.css embed="{settings.cssEmbed}" priority="1" identifier="fscUploads" href="EXT:microtemplate/Resources/Public/Css/FluidStyledContent/uploads.css" />

    <f:if condition="{files}">
        <ul class="ce-uploads">
            <f:for each="{files}" as="file" iteration="fileIterator">
                <li>
                    <span class="ce-uploads-icon"><i:icon iconfig="bi1,filetype-jpg" preferredRenderTypes="svgInline,webfont" /></span>
                    <span class="ce-uploads-title-desc">
                        <span class="ce-uploads-title">{f:if(condition: file.properties.title, then: file.properties.title, else: file.name) -> f:format.htmlspecialchars()}</span>
                        <f:if condition="{data.uploads_description}"><f:if condition="{file.properties.description}"><span class="ce-uploads-description">{file.properties.description}</span></f:if></f:if>
                        <span class="ce-uploads-link-size">
                            <a class="ce-uploads-link" href="{file.publicUrl}" {f:if(condition:data.target,then: ' target="{data.target}"')}{f:if(condition: file.title, then: ' title="Download {file.name} - <f:format.bytes value="{file.properties.size}" />"')}><span class="ce-uploads-file-name">{file.name}</span></a>
                            <f:if condition="{data.filelink_size}">
                                <span class="ce-uploads-file-size">( <f:format.bytes value="{file.properties.size}" /> )</span>
                            </f:if>
                        </span>
                    </span>

                </li>
            </f:for>
        </ul>
    </f:if>

</f:section>
</html>
