.subpage {
    max-width: var(--subpageWidth);
    padding: 5em 1.6em;
    margin: auto;
    overflow-x: auto;
}

.subpage h1 {
    padding-bottom: .36em;
}

.subpage .author img {
    border-radius: 50%;
}
.closelink {
    width: auto;
    position: fixed;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    display: block;
    margin-top: 0.75rem;
    right: 0.75rem;
    mix-blend-mode: exclusion;
}

.closelink::before, .closelink::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    width: 60%;
    height: 2px;
    background-color: #fff;
    left: 20%;
    transition: opacity .3s ease-in-out;
}

.closelink:hover::before, .closelink:hover::after {
    opacity: 0.5;
}

.closelink::before {
    transform: rotate(45deg);
}

.closelink::after {
    transform: rotate(-45deg);
}

.has-lightbox .closelink {
    display: none;
}


@media screen and (max-width: 960px) {
    .closelink {
        margin-top: 0.25rem;
        right: 0.25rem;
    }
}


