/* loaded only when BE user is logged in */

.t3-frontend-editing__ce {float: left; width: 100%}
.t3-frontend-editing__dropzone {float: left; width: 100%}
.cke_editable_inline {display: inline;}
.t3-frontend-editing__inline-actions {z-index: 10000}

.t3-frontend-editing__ce:hover .t3-frontend-editing__inline-actions {display: block}

.t3-frontend-editing__ce:hover .t3-frontend-editing__ce .t3-frontend-editing__inline-actions{display: none !important}
.t3-frontend-editing__ce:hover .t3-frontend-editing__ce:hover .t3-frontend-editing__inline-actions  {display: block !important}