@import "https://fonts.googleapis.com/css?family=Fira+Sans+Extra+Condensed:400,500";
body {
    font-family: sans-serif;
    font-size: 1em;
    color: #000;
    background-color: #fff;
    padding: 1.5em;
}

body > :first-child {
    margin-top: 0;
}

body > :last-child {
    margin-bottom: 0;
}

blockquote {
    font-style: italic;
    padding: 0;
    border-style: solid;
    border-color: #dedede;
    border-width: 0;
}

blockquote > :last-child {
    margin-bottom: 0;
}

html[dir="ltr"] blockquote {
    padding-left: 1.5em;
    border-left-width: .25em;
}

html[dir="rtl"] blockquote {
    padding-right: 1.5em;
    border-right-width: .25em;
}

a {
    color: #0782C1;
    text-decoration: underline;
}

strong {
    font-weight: bold;
}

ol,
ul,
dl {
    padding: 0;
    padding-left: 3em;
}

html[dir="rtl"] ol,
html[dir="rtl"] ul,
html[dir="rtl"] dl {
    padding-left: 0;
    padding-right: 3em;
}

hr {
    height: 1px;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    tab-size: 4;
}

span[lang] {
    font-style: italic;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}

h1, h2, h3, h4 {
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 500;
}

.headerFont {
  font-family: 'Fira Sans Extra Condensed';
  font-weight: 400;
}

a, a:visited {
  text-decoration: none;
  color: #db0500;
}

.btn, .btn:visited {
  font-size: .86em;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  display: inline-block;
  box-sizing: border-box;
  text-transform: uppercase;
  font-weight: 700;
  border: 2px solid #db0500;
  background-color: #db0500;
  color: #fff;
  line-height: 1em;
  padding: .7em 1.7em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: .4em;
}

.align-center {
  text-align: center;
}

.align-center .btn {
  margin-left: .2em;
  margin-right: .2em;
}

.align-right {
  text-align: right;
}

.align-right .btn {
  text-align: right;
  margin-left: .4em;
  margin-right: 0;
}

.blueText {
  color: #0303de;
}
