/*
	Link, button etc colors and dynamic container widths are set in:
	Configuration/TypoScript/Setup/styles.typoscript and can be edited through TS constant editor
*/
html,
body,
div,
ul,
ol,
li,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,

button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
}

ul {
    list-style: none;
}

fieldset,
img {
    border: none;
}

caption,
th {
    text-align: left;
}

table {
    border-spacing: 0;
}

iframe {
    border: none;
}


html {
    font-size: 20px;
}

body {
    font-size: 1rem;
    line-height: 1.5em;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--mainFontFamily);
    color: var(--textColor);
    background-color: var(--bodyBgColor);
}

p,
ul,
ol,
table,


h1,
h2,
h3,
h4 {
    padding-bottom: .21em;
    font-weight: 500;
}

h1 {
    font-size: 3em;
    line-height: 1.2em;
    margin-bottom: .2em;
}

h2 {
    font-size: 1.7em;
    line-height: 1.26em;
    margin-bottom: .2em;
    margin-top: 1em;
}

h3 {
    font-size: 1.26em;
    margin-top: 1em;
    margin-bottom: .2em;
}

h4 {
    font-size: 1em;
}

h2,
h3,
h4 {
    padding-top: .3em;
}

b,
strong {
    font-weight: 700;
}

a,
a:visited {
    text-decoration: none;
    color: var(--accentColor);
}

a:hover {
    text-decoration: underline;
}

ul,
ol {
    margin-left: 1em;
}

ul {
    list-style: disc;
}

hr {
    border: none;
    background-color: #ddd;
    color: #ddd;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1em;
    padding: 0;
    height: 1px;
}

table {
    width: 100%;
    font-size: .9em;
}

th {
    font-weight: bold;
}

th,
td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: .2em;
    padding-left: .6em;
    padding-right: .6em;
}

th:last-child,
td:last-child {
    border-right: none;
    padding-right: 0;
}

tbody tr:last-child th,
tbody tr:last-child td {
    border-bottom: none;
    padding-bottom: 0;
}

.clear {
    clear: both;
}

.btn,
.btn:visited {
    background-color: var(--accentColor);
    font-size: .86em;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    padding: .6em 1.7em;
    margin-top: 1em;
    margin-bottom: 1em;
    transition: color .4s, font-size .4s;
    border: 2px solid;
    margin-right: .4em;
    border-color: var(--accentColor);
}

.btn:hover,
.btn:visited:hover,
button.btn:disabled {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--accentColor);
    border-color: var(--accentColor);
}

.align-center .btn {
    margin-left: .2em;
    margin-right: .2em;
}

.align-right .btn {
    margin-left: .4em;
    margin-right: 0;
}

.pageWidth {
    max-width: var(--pageWidth);
    margin: auto;
    clear: both;
}
.contentWidth {
    max-width: var(--contentWidth);
}
.content {
    margin: auto;
    clear: both;
    padding: 0 3em;
    position: relative;
    z-index: 1;
}

.content .frame-type-textmedia p,
.content .frame-type-textmedia ul,
.content .frame-type-textmedia ol {
    max-width: 43rem;
}
p:last-child, ol:last-child, ul:last-child {
    margin-bottom: 0;
}
#content,
#footer {
    margin: auto;
}

#logo {
    position: fixed;
    top: 1.7rem;
    left: 1.8rem;
    z-index: 98;
    overflow: hidden;
    transition: all .4s ease-in-out;
    max-width: 270px;
}

#logo svg {
    height: 1.25rem;
    width: auto;
    transition: height .4s;
}

.has-lightbox #logo {
    display: none;
}

/* ext:fluid_styled_content */
.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.frame {
    clear: both;
    float: left;
    width: 100%;
}

.frame-space-before-extra-small {
    margin-top: 1em;
}

.frame-space-after-extra-small {
    margin-bottom: 1em;
}

.frame-space-before-small {
    margin-top: 2em;
}

.frame-space-after-small {
    margin-bottom: 2em;
}

.frame-space-before-medium {
    margin-top: 3em;
}

.frame-space-after-medium {
    margin-bottom: 3em;
}

.frame-space-before-large {
    margin-top: 4em;
}

.frame-space-after-large {
    margin-bottom: 4em;
}

.frame-space-before-extra-large {
    margin-top: 5em;
}

.frame-space-after-extra-large {
    margin-top: 5em;
}

.ce-bodytext a {
    font-weight: bold;
}

.ce-bodytext .blueText {
    color: #000e9b;
    font-weight: 100;
}


.ce-textpic.ce-above .ce-gallery {
    margin-bottom: 1.3em;
}

.ce-textpic.ce-below .ce-gallery {
    margin-top: 1.3em;
}

.ce-textpic.ce-above .ce-gallery,
.ce-textpic.ce-below .ce-gallery {
    width: 101.5%;
    margin-left: -.3em;
}

.ce-textpic.ce-right.ce-intext .ce-gallery,
.ce-textpic.ce-left.ce-intext .ce-gallery {
    margin-bottom: 1em;
    max-width: 55%;
}

.ce-textpic.ce-right.ce-intext .ce-gallery {
    float: right;
    padding-left: 1em;
    margin-right: -.3em;
}

.ce-textpic.ce-left.ce-intext .ce-gallery {
    float: left;
    padding-right: 1em;
    margin-left: -.3em;
}

ul.ce-uploads {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.ce-uploads li {
    margin: 0;
    padding: 0;
}

ul.ce-uploads li a {
    padding-left: 1.8em;
    padding-right: 1em;
    display: inline-block;
    position: relative;
}

ul.ce-uploads li a:before {
    content: '▼';
    font-size: .7em;
    margin-top: .64em;
    position: absolute;
    text-align: center;
    left: .2em;
    line-height: 1em;
}

ul.ce-uploads li .ce-uploads-filesize {
    color: #666;
    font-size: .9em;
}

.c-section.home h1 {
    font-size: 7vw
}
.home .btn, .home .btn:visited {
    border-color: #fff;
    color: #fff;
    background-color: transparent;
    transition: background .3s ease-in-out;
}
.home .btn:hover, .home .btn:hover {
    background-color: #fff;
    color: #222;
}
.text-center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.text-right {
    text-align: right;
    margin-left: auto;
}
.c-popup-content.contentWidth {
    max-width: 43rem;
    margin: auto;
}
@media screen and (min-width:2000px) {
    .c-section.home h1 {
        font-size: 6em
    }
}

@media screen and (min-device-width: 2560px) and (min-width: 1700px) {
    html {
        font-size: 22px;
    }
}

@media screen and (max-width: 1506px) {
    html {
        font-size: 19px;
    }
}

@media screen and (max-width: 960px) {
    html {
        font-size: 16px;
    }
    #logo {
        margin-left: -0.5rem;
    }
    h1 {
        font-size: 2.5em;
    }

    .c-section.home {
        padding: 1.8rem !important;
    }
    .home .content {
        margin: 0 !important;
        padding: 0 !important;
    }
    .c-section.home h1 {
        font-size: 11vw
    }
}

@media screen and (max-width: 680px) {
    h2 {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 520px) {
    .content {
        padding: 0 1.667em;
    }

    .no-br-on-mobile br {
        display: none;
    }
}
