fieldset,
input,
textarea,
figure,
button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.control-label {
    margin-bottom: 0.3em;
}

.input {
    width: auto;
    position: relative;
    overflow: visible;
}

.help-block {
    font-size: 0.85em;
}

div.valid,
div.error {
    position: relative;
    clear: both;
    width: auto !important;
    overflow: visible;
}

form {
    margin: auto;
    margin-top: 2em;
    margin-bottom: 1em;

}

form>.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
    grid-gap: 2.5rem;
}

form>.actions {
    width: 100%;
    float: left;
    margin-top: 0.5em;
}

form>.actions .btn {
    padding-top: 0.86em;
    margin-top: 0;
}

form .form-group {
    margin-bottom: 1.9em;
    width: auto;
    float: left;
    width: 100%;
}

form .form-group .form-group {
    margin-bottom: 0;
}

form .form-group label {
    font-weight: 500;
    width: 100%;
    float: left;
    text-align: left;
    font-size: 1.1em;
}

label {
    position: relative;
    width: auto;
}

input,
button,
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    box-sizing: border-box;
    -webkit-box-shadow: none;
}

input,
textarea,
select {
    width: 100%;
    border: 1px solid;
    padding: 0.7em;
    font-size: 1em;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1);
    position: relative;
    -webkit-box-shadow: none;
    box-sizing: border-box;
    border-radius: 3px;
    font-family: var(--mainFontFamily);
    color: var(--textColor);
    border-color: var(--textColor);
    -webkit-text-fill-color: var(--textColor);
}

select {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNDQ0JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=");
    background-position: right 0.5em top 50%;
    background-repeat: no-repeat;
    transition: background-position 1s;
}

select.xlarge {
    background-image: none;
}

.error select {
    background-position: right 1.5em top 50%;
}

input[type="checkbox"],
input[type="radio"] {
    width: 1em;
    height: 1em;
    margin-right: .5em;
    padding: 0.5em;
    margin-top: 0.2em;
    vertical-align: baseline;
    margin-bottom: -0.2em;
}

input[type="checkbox"]:checked::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "✓";
    left: 0.1em;
    top: -0.1em;
}

input[type="radio"]:checked::before {
    position: absolute;
    content: '●';
    left: 0.2em;
    top: -0.12em;
}


input[type="radio"] {
    border-radius: 50%;
}

.radio label span,
.checkbox label span {
    display: inline-block;
    font-size: 0.8em;
    padding-top: 0.08em;
}

input[type="date"]::-webkit-inner-spin-button {
    display: none;
    transform: scale(2);
    margin-left: -1em;
    margin-right: 0.5em;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 1;
    margin-left: -1em;
    margin-right: -0.2em;
    -webkit-appearance: none;
    color: transparent;
    appearance: none;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPScxLjEnIHhtbG5zPSdodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZycgeG1sbnM6eGxpbms9J2h0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsnIHdpZHRoPScyNCcgaGVpZ2h0PScyNCcgdmlld0JveD0nMCAwIDI0IDI0Jz48cGF0aCBmaWxsPScjNDQ0JyBkPSdNNy40MDYgNy44MjhsNC41OTQgNC41OTQgNC41OTQtNC41OTQgMS40MDYgMS40MDYtNiA2LTYtNnonPjwvcGF0aD48L3N2Zz4=");
}

textarea {
    height: 9.05em;
}


form span.error {
    display: block;
    position: relative;
    padding-left: 1.2em;
    width: 100%;
    float: left;
    text-align: left;
    color: red;
    font-size: .9em;
}

form span.error:before {
    content: '↑';
    font-size: 1em;
    position: absolute;
    top: 0;
    left: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    border: 1px solid rgb(142, 142, 240) !important;

}

button[disabled=disabled],
button:disabled {
    cursor: text !important;
}


.bg-dark input,
.bg-dark select,
.bg-dark textarea {
    font-family: var(--mainFontFamily);
    color: var(--textColorLight);
    border-color: var(--textColorLight);
    -webkit-text-fill-color: var(--textColorLight);
}

.c-section.text-dark input,
.c-section.text-dark select,
.c-section.text-dark textarea {
    color: var(--textColorDark);
    border-color: var(--textColorDark);
    -webkit-text-fill-color: var(--textColorDark);
}

.c-section.text-light input,
.c-section.textLight select,
.c-section.textLight textarea {
    color: var(--textColorLight);
    border-color: var(--textColorLight);
    -webkit-text-fill-color: var(--textColorLight);
}

@media screen and (max-width: 860px) {
    form>.row {
        display: block;
    }
}
