/* section */
.c-section {
    background-color: var(--bodyBg);
}

.c-section.bg-light {
    background-color: var(--bgLight);
    color: var(--textColorDark);
}

.c-section.bg-dark {
    background-color: var(--bgDark);
    color: var(--textColorLight);
}

.c-section.text-light {
    color: var(--textColorLight);
}

.c-section.text-dark {
    color: var(--textColorDark);
}

/* accordion */
.c-accordion-title {
    color: var(--textColor);
}

.c-accordion-title:hover {
    color: var(--accentColor);
}

.c-accordion-title::after,
.c-accordion-title::before {
    background-color: var(--textColor);
}

.c-accordion-title:hover::after,
.c-accordion-title:hover::before {
    background-color: var(--accentColor);
}

/* tabs */
.c-tabs-title,
.c-tabs-title.act,
.c-tabs-title.act:hover {
    color: var(--textColor);
}

.c-tabs-title.act,
.c-tabs-title.act:hover {
    color: var(--textColor);
    border-color: var(--textColor);
}

.c-tabs-title:hover {
    color: var(--accentColor);
    border-color: var(--accentColor);
}

/* popup */
.c-popup {
    background-color: var(--bodyBg);
    color: var(--textColor);
}

.c-popup-close::before,
.c-popup-close::after {
    background-color: var(--textColor);
}

/* ext:youtubevideo */
.youtubeVideo:hover .customplaybutton polygon {
    fill: var(--accentColor);
}

/* ext:pagelist styles */
.pagelist .info,
.pagelist .abstract {
    color: var(--textColor);
}

/* pagination */
ul.pagination>li>a {
    border-color: var(--accentColor);
    border-radius: 2px;
}

/* ext:personnel */
.c-section .personnel svg path,
.subpage .personnel svg path {
    fill: var(--textColor);
}

.c-section.bg-dark .personnel svg path {
    fill: var(--textColorLight);
}

.c-section.text-light .personnel svg path {
    fill: var(--textColorLight);
}

.c-section.text-dark .personnel svg path {
    fill: var(--textColorLight);
}
