ul.pagination {
    line-height: .9em;
    font-size: .9em;
    list-style: none;
    margin: 0;
    padding-top: 2.5em;
    max-width: 100%;
    display: inline-block;
}
.align-center {
    text-align: center;
}

ul.pagination>li {
    margin: .4em .2em 0 0;
}

ul.pagination>li:last-child {
    margin-right: 0;
}

ul.pagination>li>a {
    text-decoration: none;
}

ul.pagination>li, ul.pagination>li>a {
    display: inline-block;
}

ul.pagination>li>a, ul.pagination>li.current {
    padding: .5em .7em;
    border: 1px solid;
}

ul.pagination>li.current, ul.pagination>li>a:hover {
    background: transparent;
}
