ul.ce-uploads {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.25em;
}

ul.ce-uploads li {
    margin: 0;
    background: var(--bgLight);
    padding: 1em;
    padding-top: 1.25em;
    width: 100%;
    display: flex;
    margin-bottom: 2px;
}

ul.ce-uploads li:last-child {
    margin-bottom: 0;
}

.ce-uploads-title-desc {
    line-height: 1.15em;
}

.ce-uploads-icon {
    font-size: 1.6em;
    margin-right: .5em;
}
.ce-uploads-title {
    font-weight: bold;
    display: inline-block;
}

.ce-uploads-description {
    display: inline-block;
    width: 100%;
    font-size: .85em;
    margin-top: .5em;
}
.ce-uploads-link-size {
    display: inline-block;
    margin-top: 1em;
    width: 100%;
}
.ce-uploads-link {
    font-weight: bold;
    font-size: .85em;
    text-decoration: none;
    color: var(--accentColor);
    transition: all .3s ease-in-out;
}

.ce-uploads-file-size {
    display: inline-block;
    margin-left: .5em;
    font-size: .85em;
}

@media (prefers-color-scheme: dark) {
    ul.ce-uploads li {
        background: var(--bgDark);
    }
}
