ul.ce-uploads {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1.25em;
}

ul.ce-uploads li {
    margin: 0;
    border-bottom: 1px solid #ddd;
    padding: 1em 0;
    width: 100%;
    /* Make the list item full width of the outer container */
    display: flex;
    align-items: center;

}

ul.ce-uploads li:last-child {
    border: none;
}

ul.ce-uploads li a {
    padding: .5em;
    display: inline-block;
    position: relative;
}

.ce-uploads-filesize {
    float: right;
}

.ce-uploads-title-desc {
    width: 100%;
    display: inline-block;
    padding-right: 2em;
    line-height: 1.15em;

}

.ce-uploads-title {
    font-weight: bold;
}

.ce-uploads-description {
    display: inline-block;
    width: 100%;
    font-size: .85em;
    margin-top: .5em;

}

/* Style for the download link */
.ce-uploads-download-link {
    font-weight: bold;
    font-size: .85em;
    background: red;
    color: white !important;
    display: inline-block;
    padding: .5em !important;
    display: flex;
    align-items: center;
    text-decoration: none;
    background-color: var(--accentColor);
    border-radius: 2px;
    white-space: nowrap;
    border: 2px solid var(--accentColor);
    transition: all .3s ease-in-out;
}

.ce-uploads-download-link:hover {
    text-decoration: none;
    background-color: white;
    color: var(--accentColor) !important;
}

.ce-uploads-extension {
    text-transform: uppercase;

}

.ce-uploads-fileName {
    display: inline-block;
    margin-top: .5em;
    opacity: .6;
    font-size: .85em;
    width: 100%;
}
