<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />
	<f:section name="Main">
		<f:if condition="{menu}">
			<div class="pagegallery template-{data.tx_pagegallery_template}">
				<f:if condition="{data.tx_pagegallery_template} == 0">
					<f:for each="{menu}" as="page" iteration="iterator">
						<f:if condition="{page.files.0}">
							<div class="pagegallery-item">						
								<a href="{page.link}" <f:if condition="{page.target}">target="{page.target}"</f:if> title="{page.title}">
					        <figure>
					          <img src="<f:uri.image image="{page.files.0}" treatIdAsReference="1" width="354c" height="354c" />" />
					        </figure>
									<p class="pagegallery-item-title">{page.title}</p>
								</a>
							</div>
						</f:if>
						<f:if condition="{iterator.isLast}!=1">
							<div class="pagegallery-space"></div>
						</f:if>
					</f:for>
				</f:if>
				<f:if condition="{data.tx_pagegallery_template} == 1">
					<f:for each="{menu}" as="page" iteration="iterator">
						<f:if condition="{page.files.0}">
							<div class="pagegallery-item">						
								<a href="{page.link}" <f:if condition="{page.target}">target="{page.target}"</f:if> title="{page.title}">
					        <figure>
					          <img src="<f:uri.image image="{page.files.0}" treatIdAsReference="1" width="354c" height="354c" />" />
					        </figure>
									<p class="pagegallery-item-title">{page.title}<f:if condition="{page.data.subtitle}"><br /><span class="pagegallery-item-subtitle">{page.data.subtitle}</span></f:if></p>
								</a>
							</div>
						</f:if>
						<f:if condition="{iterator.isLast}!=1">
							<div class="pagegallery-space"></div>
						</f:if>
					</f:for>
				</f:if>
				<f:if condition="{data.tx_pagegallery_template} == 2">
					<f:for each="{menu}" as="page" iteration="iterator">
						<f:if condition="{page.files.0}">
							<div class="pagegallery-item">						
								<a href="{page.link}" <f:if condition="{page.target}">target="{page.target}"</f:if> title="{page.title}">
					        <figure>
					          <img src="<f:uri.image image="{page.files.0}" treatIdAsReference="1" width="354c" height="354c" />" />
					        </figure>
									<p class="pagegallery-item-title">{page.title}<f:if condition="{page.data.abstract}"><br /><span class="pagegallery-item-abstract">{page.data.abstract}</span></f:if></p>
								</a>
							</div>
						</f:if>
						<f:if condition="{iterator.isLast}!=1">
							<div class="pagegallery-space"></div>
						</f:if>
					</f:for>
				</f:if>
				<f:if condition="{data.tx_pagegallery_template} == 3">
					<f:for each="{menu}" as="page" iteration="iterator">
						<f:if condition="{page.files.0}">
							<div class="pagegallery-item">						
								<a href="{page.link}" <f:if condition="{page.target}">target="{page.target}"</f:if> title="{page.title}">
					        <figure>
					          <img src="<f:uri.image image="{page.files.0}" treatIdAsReference="1" width="354c" height="354c" />" />
					        </figure>
								</a>
							</div>
						</f:if>
						<f:if condition="{iterator.isLast}!=1">
							<div class="pagegallery-space"></div>
						</f:if>
					</f:for>
				</f:if>
				<f:if condition="{data.tx_pagegallery_template} == 4">
					<ul class="pagegallery-newslist">
						<f:for each="{menu}" as="page">
							<li>						
								<a href="{page.link}" <f:if condition="{page.target}">target="{page.target}"</f:if> title="{page.title}">
									<h2 class="title">{page.data.title}</h2>
									<p class="author-and-date"><f:if condition="{page.data.author}">By {page.data.author} &#8226; </f:if><f:format.date format="j. F Y">{page.data.lastUpdated}</f:format.date></p>
								</a>
							</li>
						</f:for>
					</ul>
				</f:if>
			</div>
		</f:if>
	</f:section>
</html>