<html xmlns:ea="http://typo3.org/ns/Brightside/Embedassets/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:render partial="CssSettings" arguments="{_all}" />
    <ea:asset.css embed="1" priority="1" identifier="mainCss" href="{settings.mainCss}" />
    <ea:asset.css embed="1" priority="1" identifier="customCss" href="{settings.customCss}" />
    <ea:asset.css embed="1" priority="1" identifier="cssOverrides" href="EXT:microtemplate/Resources/Public/Css/overrides.css" />

    <a href="{f:if(condition: '!{settings.menuType}', then: '#content', else: '{siteBase}')}" id="logo" title="{data.title}">
        <f:format.raw>{logo}</f:format.raw>
    </a>
    <f:variable name="languagesAvailable" value="0" />
    <f:for each="{languageMenu}" as="item">
        <f:if condition="{item.available}">
            <f:variable name="languagesAvailable" value="{languagesAvailable + 1}" />
        </f:if>
    </f:for>
    <f:if condition="{sectionMenu} || {languagesAvailable} > 1">
        <f:render partial="Menus/Hmbrgr" arguments="{_all}" />
        <div id="menu" class="{languagesAvailable > 1 ? 'haslangmenu' : ''}">
            <f:if condition="{languagesAvailable} > 1">
                <f:render partial="Menus/LanguageMenu" arguments="{_all}" />
            </f:if>
            <f:if condition="{settings.menuType} == 1">
                <f:then>
                    <f:if condition="{pagesMenu}">
                        <f:render partial="Menus/PagesMenu" arguments="{_all}" />
                    </f:if>
                </f:then>
                <f:else>
                    <f:if condition="{sectionMenu}">
                        <f:render partial="Menus/SectionMenu" arguments="{_all}" />
                    </f:if>
                </f:else>
            </f:if>
            <f:if condition="{settings.mobilemenuContentPage}">
                <ea:asset.css embed="1" priority="1" identifier="menuContent" href="EXT:microtemplate/Resources/Public/Css/Menus/menu-content.css" />
                <div id="menu-content">
                    <f:cObject typoscriptObjectPath="menucontent" />
                </div>
            </f:if>
            <f:if condition="{settings.socialLinksEnabled}">
                <f:render partial="Menus/SocialLinks" arguments="{_all}" />
            </f:if>
        </div>
    </f:if>
    <main id="content" class="pageWidth p{data.uid}">
        <f:format.raw>{contentDefault}</f:format.raw>
    </main>
    <f:if condition="{contentThroguhPages}">
        <footer>
            <f:format.raw>{contentThroguhPages}</f:format.raw>
        </footer>
    </f:if>
    <ea:asset.script embed="1" identifier="home" src="EXT:microtemplate/Resources/Public/JavaScript/home.js" />
    <f:if condition="!{settings.menuType}">
        <ea:asset.script embed="1" identifier="scrollMemory" src="EXT:microtemplate/Resources/Public/JavaScript/scrollMemory.js" />
    </f:if>
</f:spaceless>
</html>
